<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <link rel="preload" href="fonts/fontawesome-webfont.woff2" as="font" type="font/woff2" async>
  <link rel="preconnect" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" async>
  <link rel="preconnect" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">     
</head>
{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html>
